[submodule "external/lib6502"]
	path = external/lib6502
	url = https://github.com/99xtal/lib6502
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
